.chat-view {
  height: 273px;
  margin-bottom: 15px;
  overflow: auto;
}

.chat-message {
  color: #898788;
  font-size: 13px;
  margin: 15px 60px 15px 0;
}

.chat-message p {
  background: #b40000;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  margin-bottom: 5px;
  padding: 15px;
  word-wrap: break-word;
}

.chat-message.is-author {
  margin: 15px 0 15px 60px;
}

.chat-message.is-author p {
  background: #3b9bcd;
}

.chat-last-visit {
  color: #898788;
  text-align: center;
}

.chat-input { 
  padding-right: 35px !important;
}

.chat-submit {
  background: url(../images/chat_input.png) 9px 9px no-repeat !important;
  position: absolute;
  right: 0;
  border: 0;
  background-color: transparent;
  width: 35px;
  height: 38px;
  top: 5px;
}

.chat-form {
  position: relative;
}