.footer {
  padding: 0 10px 20px;
  margin: 30px auto;
  max-width: 940px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 20px;
}

@media only screen and (max-width: 720px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.footer-designer {
  background: url(../images/novosylov.png) no-repeat 0px 10px;
  color: #fff;
  float: right;
  opacity: 0.5;
  padding-left: 29px;
  text-decoration: none;
  transition: opacity 0.3s ease-out;
}

.footer-designer:hover {
  opacity: 1.0;
}

.footer-feedback {
  color: #857892;
}

.footer-feedback a {
  color: #9989ae;
}

.footer-feedback a:hover {
  color: #fff;
}
