.header {
  color: #fff;
  height: 176px;
  padding: 30px 10px 0;
  margin: 0 auto;
  width: 940px;
}

.header-logo {
  float: left;
}

.header-inner {
  margin-left: 240px;
  padding: 20px 0;
}

.header-usercontrols {
  float: right;
  margin-top: 5px;
}
