.counters {
  height: 67px;
  display: flex;
  gap: 20px;
  flex: 1;
}

.counters li {
  float: left;
  font-size: 17px;
  text-align: center;
}

.counters b {
  display: block;
  font-size: 20px;
  font-weight: bold;
}
